<form name="thisForm" class="form" role="form">
	<div class="row">
		<div class="col-md-5">
			<h1>Echo</h1>
			<div class="panel panel-default">
				<div class="panel-body form-horizontal payment-form">
					<div class="form-group">
						<label class="col-md-3 control-label">Type</label>
						<div class="col-md-9">
							<select class="form-control" ng-model="type" ng-options="option for option in enums.type track by option"></select>
						</div>
					</div>
					<div class="form-group">
						<label for="name" class="col-md-3 control-label">Name</label>
						<div class="col-md-9">
							<input name="name" id="name" type="text" class="form-control" ng-model="name" required />
							<div style="color: red" ng-show="thisForm.name.$dirty && thisForm.name.$invalid">
								<div ng-show="thisForm.name.$error.required">
									<span>Name is required</span>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-12 text-right">
							<button type="button" id="btnAgregar" class="btn btn-primary btn-block" ng-click="echo()" ng-disabled="thisForm.$invalid">
								<span class="glyphicon glyphicon-search"></span> Echo
							</button>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<div class="row" ng-if="requerimiento != undefined">
		<div class="col-md-12">
			<h1>Response</h1>
			<div class="panel panel-default">
				<div class="panel-body form-horizontal payment-form">
					<div class="form-group">
						<label class="col-md-3 control-label">Echo</label>
						<div class="col-md-9">
							<input type="text" class="form-control" ng-model="response">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>